body{
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    box-sizing: border-box;
    margin: 10px 1px;
    padding: 10px 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid black;
}

button{
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: #5f9341;
    border: 1px solid #5f9341;
    color: white;
    cursor: pointer;
}
#delete-btn{
    background-color: white;
    color: #5f9341;
}

ul{
    list-style-type: none;
    padding: 10px 0px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a:link{
    color: #5f9341;
}